---
layout: default
---
<body>
	<div id="main" class="container main">
		<div id="title" class="container">
			<h1 class="name"><a href="#" id="home">{{ site.title | escape }}</a></h1>
		</div>
		<div id="nav" class="container nav">
			{% for section in site.sections %}
			<div class="nav-button-wrapper"><a id="{{ section.name }}-link" href="#{{ section.name }}" class="nav-button">{{ section.name }}</a></div>
			{% endfor %}
		</div>
		<div id="content" class="content">
			{% for section in site.sections %}
			<div id="{{ section.name }}" class="content-block hidden {{ section.name }}">
				{% include {{ section.file }} %}
			</div>
			{% endfor %}
        </div>
	</div>
	{% include layout-controller.html %}
</body>